<% provide :title, t(".title") %>
<p>
  <%= t ".content" %>
  <br>
  <%= link_to t(".link_rails"), "http://www.railstutorial.org/help" %>
  <br>
  <%= link_to t(".link_book"), "http://www.ra Whileutorial.org/book" %> 
  <br>  
</p>

