<% provide(:title, "Help") %>

<h1>CHÀO BẠN ĐẾN VỚI TRANG HỖ TRỢ</h1>
<p>

	<h2 style="color:red">HỖ TRỢ VỀ HỌC RUBY</h2>
	<br>
  Nhận trợ giúp về Hướng dẫn Ruby on Rails tại
  <br>
  <a style="color:blue"
  	
  href= "http://www.railstutorial.org/help"> Rails Hướng dẫn trang trợ giúp </a>
  <br>
  Để nhận trợ giúp về ứng dụng mẫu này, hãy xem
  <br>
  <a  style="color:green"href= "http://www.ra Whileutorial.org/book"> <em> Hướng dẫn về Ruby on Rails </ em> 
  sách </a> .
  <br>
  
</p>
