<% provide(:title, "HOME") %>


	
<h1 style="color:blue;width:450px">HELLO! WELCOME TO PAGE HOME</h1>
<p>
	<h2 style="color:green;width:380px">Đây là trang web chính về ruby</h2>
	<br>
	<p>Xin hãy nhấn vào link sau</p>
  <a  style="color:red;width:380px" href="http://www.railstutorial.org/"> Ruby on Rails Tutorial </a>
  </p>

